* {
    box-sizing: border-box;
}

body {  
    margin: 0; 
    padding: 0; 
    background-color: #ffffff;
}

/* Global */
.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

span.bold {
    font-weight: 700;
}

/* Navigation Bar */
nav {
    background: #3C0085;
}

header, nav {
    min-height: 59px;
    border-bottom: #3C0085 solid 1.5px;
    height: 150px;
}

#nav-links-purple li#brand {
    font-family: 'Luckiest Guy', cursive;
    color: #ffffff;
    float: left;
    padding-left: 55px;
    padding-top: 23px;
    font-size: 37px;
    transition: all .2s ease ;
}

#nav-links-white li#brand {
    font-family: 'Luckiest Guy', cursive;
    color: #3C0085;
    float: left;
    padding-left: 55px;
    padding-top: 23px;
    font-size: 37px;
    transform: translateY(-41%);
    transition: all .2s ease ;
}

#nav-links-purple li .sign-in {
   padding: 12px 20px;
   margin-top: 9px; 
   color: #ffffff;
   background-color: rgba(126, 118, 135, 0.413);
   border-radius: 7%;
   font-weight: 600;
   transition: all .2s ease ;
}

#nav-links-white li .sign-in {
    padding: 12px 20px;
    margin-top: -11px; 
    color: #3C0085;
    background-color: rgba(126, 118, 135, 0.413);
    border-radius: 7%;
    font-weight: 600;
    transition: all .2s ease ;
 }

#nav-links-purple li .sign-in:hover  {
    transition: all 0.5s ease-out ;
    background-color: rgba(122, 111, 135, 0.762);
 }

 #nav-links-white li .sign-in:hover  {
    transition: all 0.5s ease-out ;
    background-color: rgba(122, 111, 135, 0.762);
    color: #3C0085;
 }

ul#nav-links-purple {
    background-color: #3C0085;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding-right: 50px;
    padding-top: 43px;;
    overflow: hidden;
    top: 0;
    width: 100%;
}

ul#nav-links-white {
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 1px rgba(81, 81, 92, 0.2);
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding-right: 50px;
    padding-top: 43px;;
    overflow: hidden;
    top: 0;
    width: 100%;
}

#nav-links-purple li,
#nav-links-white li {
    float:right;
}

#nav-links-purple a {
    display: block;
    padding: 20px 10px 0 10px; 
    text-decoration: none;
    text-align: center;
    color: rgba(240, 242, 244, 0.926);
    transition: all .2s ease ;
}

#nav-links-white a {
    display: block;
    padding: 0px 10px 0 10px; 
    text-decoration: none;
    text-align: center;
    color: #3C0085;
    transition: all .2s ease ;
}

#nav-links-purple a:hover,
#nav-links-white a:hover {
    color: #ffffff;
    transition: all 0.5s ease-out;
}

/*  Add To Slack Section */
section#addToSlack .container {
    display: flex;
}

section#addToSlack .container .slogan {
    justify-content: flex-start;
}

section#addToSlack .container .slogan-image {
    margin-left: 22rem;
}

section#addToSlack {
    background-color: #3C0085;
}

section#addToSlack h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 4.7em;
    margin-left: .8em;
    color: #ffffff;
    width: 500px;
    height: 400px;
}

section#addToSlack .container button {
    height: 60px;
    width: 220px;
    border-radius: 5%;
    font-size: 1.3rem;
    margin-left: 3.8rem;
    line-height: 1;
}

section#addToSlack .container button {
    padding-bottom: 52px; 
}

/* Section Jobs */
section#jobs .container {
    background-color:#F0F2F4 ;
    height:365px ;
}

section#jobs #job-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

/* Pairing & Onboarding Section */ 
section#info .box-1, section#info .box-2 {
    color: #3C0085;
}

section#info .box-1 a, section#info .box-2 a {
    color: blueviolet;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: none;
}

section#info .box-1 a:hover, section#info .box-2 a:hover {
    color: #3C0085;
    transition: all 0.5s ease-out;
}

section#info div#pairing h1, 
section#info div#onboarding h1 {
    font-size: 3.5rem;
    font-weight: 400;
}

section#info div#pairing p, 
section#info div#onboarding p {
    font-size: 1.5rem;
    font-weight:300;
}


section#info div#onboarding {
    background-image: url('/images/smartphone-1184883_640.png');
    background-repeat: no-repeat;
    background-position: 70% 10%;
    margin-top: 20px;
}

section#info div#pairing {
    background-image: url('/images/donut-1873957_640.png');
    background-repeat: no-repeat;
    background-position: center;
    
}


section#info .container {
   display:  flex ;
   flex-direction: row;
   height: 600px ;
}

section#info .box-1, section#info .box-2 {
    width: 80%;
    height: 300px;
    margin-left: 10%;
    margin-top: 40%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
    padding-right: 3.0%;
    background: #F0F2F4;
    border-radius: 4%;
}

/* Invision Ceo */ 
section#invision-ceo .container {
    display: flex; 
    justify-content: center;
    align-items: center;
}

section#invision-ceo .container#ceo-image {
    order: 1;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

section#invision-ceo .container#ceo-quote {
    order: 2;   
    justify-content: flex-end; 
    align-items: center;
    width: 50%;
}

section#invision-ceo #ceo-image .image-1{
    border-radius: 50%;
    margin-left: 3.5rem;
    margin-top: 3rem;
    margin-right: 2rem;
}

section#invision-ceo #ceo-image .image-2{
    margin-left: 8.3rem;
}

section#invision-ceo .container quote {
    font-size: 3.5rem;
    font-weight: 400;
    color: #3C0085;
}

section#invision-ceo .container p {
    font-size: 1.15rem;
    font-weight: none;
    color: rgba(108, 102, 102, 0.837);
}

section#invision-ceo .container span {
    font-size: 1.15rem;
    font-weight: 900;
    color: rgba(12, 11, 11, 0.81);
}

section#invision-ceo .container a {
    color: blueviolet;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: none;
}

section#invision-ceo .container a:hover {
    color: #3C0085;
    transition: all 0.5s ease-out;
}

/* Section People */ 
.workers{
    background-image: url('/images/avatar-1.png');
    background-repeat: repeat-x;
    height: 200px;
    width: 100%;
    background-position-y: -150px;
}

/* Footer */
footer {
    background-color: #F0F2F4;
}

footer .container {
    display: flex;
    justify-content:space-around;
}

footer #box-2 a {
    text-decoration: none;
    display: block;
    margin: 12px;
    color: #3C0085;
}

footer #box-3 a {
    margin-top: 12px;
    display: block;
    float: left;
    margin-left: 2.1rem;
    color: blueviolet;
}

footer #box-3 i {
    margin-bottom: 20px;
    color: blueviolet;
}

footer #box-3 i:hover,
footer #box-2 a:hover {
    color: #3C0085;
    transition: all 0.5s ease-out;
}

footer #box-1 p {
    font-size: 1.6rem;
    color: #3C0085;
}

footer #box-3 p {
    color: #3C0085;
}

footer input, footer button {
    padding: 4px;
    height: 50px;
    width: 250px;
    font-size: 1.3rem;
    margin-bottom: 20px;
    border: none;
    border-radius: 2%;
}

footer button {
    background: blueviolet;
    color: #ffffff;
}

footer button:hover {
    background: #3C0085;
    color: #ffffff;
    transition: all 0.5s ease-out;
}

footer input::placeholder {
    color: blueviolet;
}

