body{  
    margin: 0; 
    padding: 0; 
    background-color: #ffffff;
}

/* Global */
.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
header, nav{
    min-height: 59px;
}

#nav-links li#brand{
    font-family: 'Luckiest Guy', cursive;
    color: #ffffff;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 37px;
}

ul#nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3C0085;
    position: fixed;
    top: 0;
    width: 100%;
}

#nav-links li{
   float:right;
}

#nav-links a{
    display: block;
    padding: 20px 8px 0 8px; 
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

/*  Add To Slack Section */
section#addToSlack{
    background-color: #3C0085;
}
section#addToSlack h1{
    font-family: 'Mansalva', cursive;
    font-size: 5em;
    margin-left: .8em;
    color: #ffffff;
}



